main section {
    display: flex;
    flex-wrap: wrap;
}

main section form {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

main section form input {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1rem;
    -webkit-appearance: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
    height: 45px;
    width: 20%;
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: .4rem;
    display: block;
}

main section form button {
    background-color: var(--color-theme);
    border: none;
    padding: 10px;
    color: var(--color-active);
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    width: 15%;
    border-radius: .4rem;
}